@import "partials/colors";
@import "partials/fonts";

.leftbar  {
  background-color: black;
  height: 100vh;
  width: 10%;
  position: fixed;
}

header {
  background-color: $ltteal;
}

.main {
  padding-left: 10%;
}

.normal, .hover {
  height: 50px;
  float: right;
  margin-top: 20px;
  margin-right: 5%;
}



.normal {
  position: absolute;
   right: -7px;
   top: 0px;
}

.normal:hover {
  opacity: 0;
}


.logo {
  margin-top: 15px;
  margin-left: 2%;
  padding-bottom: 70px;
}

 .topicbar {
    background-color: $teal;


    h2 {
      display: inline;
      margin-left: 2%;
    }

    h1 {
      display: inline;
    }
 }
 // .currentbooks .pastbooks {
 //  display: inline;
 // }

 .books {
   width: 46%;
   float: left;
   margin: 0 2%;

   a {
     color: $teal;
     text-transform: uppercase;
   }

}

// .textbox-title {
//    font-family: serif;
//    font-style: italic;
//    font-size:
//  }

.image-wrap {
  width: 100%;
  height: 400px;
  background-color: black;
  padding: 20px;
  box-sizing: border-box;

  img {
    object-fit: contain;
    width: 100%;
    height:100%;
  }
}


  h4 {
    text-align: center;
 }

 .textbox {
   background-color: black;
   color: white;
   margin-bottom: 10px;
 }


 .quotationsandcomments {
   clear:both;
   border:1px solid black;
   margin-top: 10px;

 }

 .quotationsandcomments p {
   text-align: left;
   padding: 15px;

 }
.homebar {
  background-color: $ltteal;
  background-size: 15%;
}

.homebar  h4 {
display: inline;
  text-align: center;
  font-style: italic;
}
.homebar button {
 float: left;
 width: 31.3%;
 border: 10px solid $ltteal;
 box-sizing: border-box;
 margin: 1%;
 padding: 10px;
}


   @media (max-width: 767px) {
     .menu {
       display: none }

     nav ul {
       display: none; }

     .header-text {
       width: 90%; }

     article {
       float: none;
       width: 100%; } }
